body {
  /*background-color: black;*/
  background-image: linear-gradient(180deg, rgb(77, 88, 94), rgb(65, 112, 98));
  /*background-image: url(/images/abstract-background.jpg);*/
  background-attachment: fixed;
}

.main {
  /*background-color: rgb(24, 8, 23);*/
  color: rgb(255, 255, 255);

  font-family: Arial, sans-serif;
  text-align: left;

}

.heading {}

.summary {
  padding-left: 30em;
  padding-right: 30em;
}

.link {
  padding-left: 30em;
  padding-right: 30em;
}

a {
  background-color: rgba(255, 255, 255, 0.7);

}

.quote,
.heading,
p {
  background-color: rgba(0, 0, 0, 0.5);
}

.quote,
.Ratatouille,
.heading,
p {
  text-align: center;
  border-radius: 50%;
}

.rounded {
  border-radius: 50%;

}

.quote {}


/*This is for the sub sites*/
.firstpic {
  max-width: 25%;
  height: auto;

}

.links {
  text-align: center;
}

.first-pic-div {
  text-align: center;
}