
body{
  background-color: black;
  background-image: url(/images/abstract-background.jpg);
  background-attachment: fixed;
}
.main{
    /*background-color: rgb(24, 8, 23);*/
    color: rgb(255, 255, 255);
    
    font-family: Arial, sans-serif;
    text-align: left; 
  
}

 .quote, .heading{
  background-color: black;
}




.quote, .Ratatouille, .heading{
  text-align: center;
}
/*This is for the sub sites*/
 .image{
  width: fit-content;
  height: 2em;
 }



